body {

  font-size: 24px;
  padding-top:200px;
  background-color: #F0F8FF;



}
header{
display:flex;
justify-content: space-between;
position: fixed;
    top: 0;
    right: 0;
    left: 0;

}
.heder-inner{
width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding-bottom:-10px;
}
.logo{
}

.container{
width: 1200px;
margin: 0 auto;
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-view {
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
   padding-left: 100px;
   padding-right:100px;
   margin-bottom:20px;

}

.photo-chart{

  width: 100%;
    height: auto;
    border-radius: 10px;
}
.para{
 font-size: 0.9em;
 margin: 1em 0;

}
.login{
 width:250px;
 display:flex;
 justify-content:space-around;
 padding: 20px;

}

.login a{
color:#FFFFFF;
text-decoration: none;
}
.user-name{
color:white;
}
.img-logo{
height:150px;
  width:150px;
  display:block;
}


.navigator{
display:flex;
flex-direction:column;
justify-content: space-between;

}
nav{
width:370px;
}
li{
list-style-type: none;
}
.block_articles{
margin-top: 200px;
}
a.articles {
text-decoration: none;
color:black;
transition: 0.5s;

}
.navigator a:hover{
  color:red;
}
.navigator a{
display:block;
text-decoration: none;
 color:#FFFFFF;
}



.foto_articles_container{
width: 1200px;
margin: 0 auto;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}

.block_articles a {
text-decoration: none;
color: #333333;
}
.para_title_articles{
text-align: center;
}

.foto_articles{
display:block;
padding:10px;
}

.block_articles {
display:flex;
flex-flow: column;
justify-content:space-between;
align-items:center;
border:1px solid green;

margin-bottom:100px;
width:350px;
background-color: transparent;


}

.detail_article_container{
width:1200px;
margin: 0 auto;
}

.slogan a{
text-decoration: none;
color:#FFFFFF;
font-size: 34px;
}

.foto_main{
  height:150px;
  width:300px;
}

.form-input,#id_username,#id_password{
 width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
   border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCCCCC;
  background-color: #FFFFFF;


}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #FFFFFF;
  width: 360px;
  margin: 0 auto;
  background-color: #FFFFFF;
  color:#000000;
  font-size:20px;
}


button {
  background-color: #007bff;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #007bff;

}

input:focus {
  outline: none;
}
.show-password{
font-size: 15px;
margin-left: 250px;
}

form.comments{
margin-left:0;
margin-bottom:20px;
}
.add-comment{
font-size:20px;
}
form.comments textarea {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-bottom: 25px;


}

form.comments input {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-right: 100px;
}


.user-comment {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    background-color: transparent;
  }
.user-comment span{
padding-right:20px;
}
  .user-comment p:first-child {
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
  }

  .user-comment p:last-child {
    font-size: 18px;
    margin-bottom: 0;
  }

.article {

  font-family: Arial, sans-serif;
}
.article-img {
  width: 25%;
  height: auto;
}
.article-text p:first-child{
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;
  color: #333;
}
.article-text {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  color: #333;
  text-align: justify;
}
.article-text p:last-child {
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
  color: #333;
}

.new-article .block_articles{
width:300px;
margin-top:10px;
margin-left:20px;

}
.new-article h1{
margin-left:80px;
}

.like-img{
width:20px;
height:20px;
}

.vote a{
text-decoration: none;
color:black;
font-weight:900;
font-size:20px;
}

.my-contact{
width:600px;
margin:0 auto;
text-align:center;
margin-bottom: 100px;
}
.my-contact h1{
font-size:20px;
width:500px;
margin:0 auto;
margin-bottom:5px;

}
.my-contact div{
margin-bottom:10px;
}


.link-contact-github a,
.link-contact-youtube a{
  color: #008000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

}
.link-contact-github a:hover,
.link-contact-youtube a:hover{
text-decoration: underline;
}





.contact-form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
}


.contact-form p {
  margin: 0 0 20px;
}

.contact-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form textarea {
  height: 150px;
}


.contact-form button[type="submit"] {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  background-color: #3e8e41;
}
.contact-form h1{
font-size:22px;
padding-bottom:20px;
}

.close-btc {
  width: 700px;
  padding: 20px;
  border: 1px solid #B0C4DE;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.close-btc h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.news{
margin-left:20px;
width:800px;

}
.news-foto-title{
display:flex;
width:800px;
justify-content:space-between;


}
.news-foto-title h3{
font-size:30px;
margin-top:20px;
margin-left:10px;
}








