<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

{% block content %}
<div class="detail_article_container">
    <div class="article">
        {% if article.photo %}
        <p><img class="article-img" src="{{ article.photo.url }}"></p>
        {% endif %}
        <div class="article-text">
            <p>{{article.title}}</p>
            <p>{{article.text|safe|linebreaks}}</p>
            <p>{{article.date}}</p>
        </div>

    </div>


    <div class="vote">
        <p>
            <a href="{% url 'positive_post' article.id %}">
                <img class="like-img" src="{% static 'images/like.png'  %}">
                {{ article.post_pos}}</a>
        </p>
        <p>
            <a href="{% url 'negative_post' article.id %}">
                <img class="like-img" src="{% static 'images/dislike.png' %}">
                <span>{{ article.post_neg}}</span></a>
        </p>
    </div>


    <h2 class="add-comment">Добавить комментарий…</h2>
    <form class="comments" method="post">
        {% csrf_token %}
        {{ form}}
        <button type="submit">Submit</button>
    </form>


    {% for comment in comments %}
    <div class="user-comment">
        <p><span>{{ comment.author }}</span>{{ comment.created_at }}</p>
        <p>{{ comment.text }}</p>
    </div>
    {% endfor %}
</div>


{% endblock content %}
</body>
</html>