<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Articles {% endblock title %}</title>
</head>
<body>

{% block content %}
<div class="foto_articles_container">

    {% for art in obj %}

    <div class="block_articles">
        {% if art.photo %}
        <p class="para_foto_articles"><a href="{% url 'article_detail' art.pk %}"><img class="foto_articles" src="{{ art.photo.url }}"></a></p>
        {% endif %}
<p class="para_title_articles"><a href="{% url 'article_detail' art.pk %}">{{art.title}}</a></p>
</div>

    {%endfor%}


</div>




{% endblock content %}

</body>
</html>