<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock title %}</title>
</head>
<body>
{% block content %}
<form class="login-form" method="post">
  {% csrf_token %}
  {% for elem in form %}
    <p>
      <label class="form-label" for="{{ elem.id_for_label}}">{{ elem.label}}</label>
      {{ elem }}
    </p>
    {% if elem.name == 'password' %}
    <div class="show-password">
    <input  type="checkbox" onclick="showPassword()">
    <p >Показать пароль</p>
    </div>
      {% endif %}
  {%endfor%}
  <button type="submit">Вход</button>
</form>

<script>
  function showPassword() {
    var x = document.getElementById("id_password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>


{% endblock content %}
</body>

</html>

