<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Register{% endblock title %}</title>
</head>
<body>
{% block content %}
<form class="register-form" method="post">
  {% csrf_token %}

    {% for elem in form %}
    <p><label class="form-label" for="{{ elem.id_for_label}}">{{ elem.label}}</label>{{elem}}</p>
    {%endfor%}
  <button type="submit">Регистрация</button>

</form>


{% endblock content %}
</body>
</html>